.page-home {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.1)
    ),
    url("../images/home.svg");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: -50% 0%;
  @include media-breakpoint-up(sm) {
    background-size: 85%;
    background-position: 150% 3%;
  }
  @include media-breakpoint-up(md) {
    background-size: 70%;
    background-position: 102% 4%;
  }
  @include media-breakpoint-up(lg) {
    background-size: 70%;
    background-position: 105% 3%;
  }
  @include media-breakpoint-up(xl) {
    background-size: 55%;
    background-position: 100% 5%;
  }
}
